/*----- -moz-keyframes -----*/

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes bounce-in {
    0% {
        -moz-transform: scale(0.35);
        -webkit-transform: scale(0.35);
        transform: scale(0.35);
    } 90% {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    } 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes zoom-in-out {
    0% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    } 50% {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    } 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes zoom-to-fill {
    0% {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes underline-expand {
    0% {
        width: 0;
        left: 50%;
    } 100% {
        width: 100%;
        left: 0;
    }
}

@-moz-keyframes underline-collapse {
    0% {
        width: 100%;
        left: 0;
    } 100% {
        width: 0;
        left: 50%;
    }
}

/* ------------------------- */

/*----- -webkit-keyframes -----*/

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes bounce-in {
    0% {
        -moz-transform: scale(0.35);
        -webkit-transform: scale(0.35);
        transform: scale(0.35);
    } 90% {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    } 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes zoom-in-out {
    0% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    } 50% {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    } 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes zoom-to-fill {
    0% {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes underline-expand {
    0% {
        width: 0;
        left: 50%;
    } 100% {
        width: 100%;
        left: 0;
    }
}

@-webkit-keyframes underline-collapse {
    0% {
        width: 100%;
        left: 0;
    } 100% {
        width: 0;
        left: 50%;
    }
}

/*----------------------------- */

/*----- keyframes -----*/

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bounce-in {
    0% {
        -moz-transform: scale(0.35);
        -webkit-transform: scale(0.35);
        transform: scale(0.35);
    } 90% {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    } 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom-in-out {
    0% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    } 50% {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    } 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom-to-fill {
    0% {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes underline-expand {
    0% {
        width: 0;
        left: 50%;
    } 100% {
        width: 100%;
        left: 0;
    }
}

@keyframes underline-collapse {
    0% {
        width: 100%;
        left: 0;
    } 100% {
        width: 0;
        left: 50%;
    }
}

@keyframes alert-in {
    0% {
        -moz-transform: translateX(110%);
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
    } 65% {
        -moz-transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    } 80% {
        -moz-transform: translateX(10%);
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    } 100% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes alert-out {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    } 100% {
        -moz-transform: translateX(110%);
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
    }
}

/*---------------------*/
